{% extends 'base.html'%}
{% import 'macros.html' as macro%}
    <body>
    {% block content %}
       <h1> {{ title }} </h1>
       <ul style="decoration:none;">
    <div class="container-fluid">  
       <div class="row">
       {% for item in enter%}
       <div class="col-md-4">
        <div class="thumbnail">
            <li style="color:#3a4a84; list-style-type: none; font-size:20px;">{{item.name}}</li>
            <p>{{ item.description }}</p>
            <button href="" style="background-color:#47b78c; border:1px solid black;" class="btn btn">Visit</button>
        </div>
       </div>
       {% endfor %}
       </div>
    </div> 
       </ul>
    {% endblock %}
    </body>