
<nav class="navbar navbar-light navbar-fixed-top" style="background-color:#0F062A;">
  <a class="navbar-brand" href="#"> <img src="https://www.hibelia.com/sites/default/files/news.jpg" height="40px"> </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <button class="btn btn-light"><h7 class="nav-item"><a class="nav-link" href="/">Home</a></h7></button>
    </ul>
    <form align="right" class="form-inline">
      <input align="right" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
